<div class="definicoes__menu">
    <a href="/definicoes" class="definicoes__menu--item definicoes__menu--item__active">Utilizadores</a>
    <a href="/alterarPassword" class="definicoes__menu--item">Alterar Password</a>
</div>